*{
	margin:0;
	padding:0;
	font-family: "Century Gothic";
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../background.jpeg);
	height: 100vh;
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body{
	color:black;
}
ul{
	padding:40px;
	position: absolute;
	left:14%;
	top:-4%;
	list-style: none;
}
ul li{
	float:left;
}
ul li a{
	width:135px;
	display:block;
	border-radius:50px;
	box-shadow:0 5px gray;
	border:4px solid black;
	padding:10px 18px;
	text-decoration: none;
	color:gray;
	text-align:center;
}
ul li a:hover{
	background-color:gray;
	color:black;
}
ul li.active a{
	background-color:gray;
	color:black;
}
.logoo img{
	position:absolute;
	left:43%;
	margin-top:10%;
	width:200px;
	height:200px;
}
.main{
	max-width:1200px;
	margin:auto;
}


.main footer h4{
	position:absolute;
	color:white;
	right:90%;
	margin-top:43%;
}
.blogo a img{
	position:absolute;
	left:2%;
	margin-top:15px;
	width:100px;
	height:100px;
}
.main nav{
	width:100%;
	position: absolute;
	left:0;
	height:125px;
	background:black;
	overflow:auto;
}
.footer{
	background:black;
	color:#d3d3d3;
	height:160px;
	position:relative;
}
.footer .footer-bottom p{
	
	color:gray;
	height:30px;
	
	text-align:center;
	position:absolute;
	bottom:0px;
	right:430px;
	padding-top:0px;
	overflow:auto;
}
.footer .footer-content{
	border:1px solid black;
	height:160px;
}
.footer-content p{
	float:right;
	color:gray;
	font-size:15px;
	position:absolute;
	top:77%;
	text-decoration:overline;
	left:50%;
	transform:translate(-50%,-50%);
}
.footer-content h3{
	float:right;
	color:white;
	font-size:45px;
	position:absolute;
	top:30%;
	left:50%;
	text-decoration: overline;
	transform:translate(-50%,-50%);
}
.contact h4{
	float:right;
	color:gray;
	position:absolute;
	top:42%;
	text-decoration: none;
	left:47%;
}
.contact p{
	float:right;
	color:gray;
	position:absolute;
	top:43%;
	text-decoration: none;
	left:39%;
}
.contact p a{
	color:gray;
	text-decoration:none;
}
.footer-content p a{
	color:gray;
	text-decoration: none;
}
.footer-content p a:hover{
text-decoration: underline;
}
.sm a img{
	position:absolute;
	left:81%;
	margin-top:9%;
}
.sm2 a img{
	position:absolute;
	left:90%;
	margin-top:9%;
}
.sm3 a img{
	position:absolute;
	right:97%;
	width:35px;
	background:white;
	margin-top:9%;
}
.sm4 a img{
	position:absolute;
	right:93%;
	width:35px;
	margin-top:9%;
	background:white;
}
.sm5 a img{
	position:absolute;
	right:89%;
	width:35px;
	margin-top:9%;
	background:white;
	overflow:auto;
}
.footer-content h4{
	position:absolute;
	color:gray;
	right:90%;
	margin-top:7%;
}
