body{
    margin: 0;
    padding: 0;
    
    background-size: cover;
    background-position: center;
    font-family: sans-serif;

background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../html2/main.jfif);
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.loginbox{
width: 320px;
height: 420px;
background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../html2/login\ back.jpg);
color: #fff;
top: 50%;
left: 50%;
position: absolute;
transform: translate(-50%,-50%) ;
box-sizing: border-box;
padding: 30px 70px;
border: 5px solid #000;

}
.avatar{

width: 100px;
height: 100px;
border-radius: 50%;
position: absolute;
top: -50px;
left: calc(50% - 50px);
}

.h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox  p{
   margin: 0;
   padding: 0;
   font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"],input[type="password"]
{
   border: none;
   border-bottom: 1px solid white;
   background: transparent;  
   outline: none;
   height:  40px;
   color: white;
   font-size: 16px;
}
 .loginbox input[type="submit"]
{
    border:none;
    outline:none;
    height:40px;
    background: black;
    box-shadow:0 5px gray;
    border:2px solid  black;
    color: gray;
    font-size:20px;
    border-radius: 40px;
    
}
.loginbox input[type="submit"]:hover
{
    cursor:pointer;
    background:gray;
    color:black;
}
.loginbox a
{
    text-decoration:none;
    font-size:12px;
    line-height:20px;
    color:rgb(253, 251, 251)
}
.loginbox a:hover
{
    color:#fcfafa;
    text-decoration:underline;
}
 .loginbox input[type="submit"]
{
    border:none;
    outline:none;
    height:40px;
    background: black;
    box-shadow:0 5px gray;
    border:2px solid  black;
    color: gray;
    font-size:20px;
    border-radius: 40px;
    
}
.loginbox input[type="submit"]:hover
{
    cursor:pointer;
    background:gray;
    color:black;
}
.mainsub ul{
  padding:36px;
  position: absolute;
  left:24.9%;
  top:77.5%;
  list-style: none;
}
.mainsub ul li{
  float:left;
}
.mainsub ul li a{
  width:145px;
  display:block;
  border-radius:40px;
  border:2px solid black;
  box-shadow:0 5px gray;
  background:black;
  padding:8px 16px;
  position:absolute;
  left:-8%;
  top:-79%;
  font-size:20px;
  text-decoration: none;
  color:gray;
  text-align:center;
}
.mainsub ul li a:hover{
  background-color:gray;
  color:black;
  text-decoration: none;
}